button {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--color-white);
    font-family: var(--font-secondary);
    background-color: var(--color-om-blue);
    display: block;
    margin: 20px auto 0 auto;
    align-items: center;
}
button:hover {
    background-color: var(--color-om-gold);
    color: var(--color-black);
}
